<div class="container">
  <h3 class="new-list__title">Add New List</h3>


<form class="new-list">
  {{input type="form" placeholder="List Name"}}
  <button class="new__submit">ACCEPT</button>
</form>
</div>
