@import 'project-variables';
@import 'yoga';

// Uncomment this for working with yoga prototyping
// http://rtablada.github.io/yoga-sass/#mixin-yoga-prototype
@include yoga-prototype();

* {
  font-family: Roboto;
  font-size: 14px;
  line-height: 2.14rem;
}

.nav-bar {
  margin: 0;
  background: $brand-blue;
}

.nav-bar__top {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  color: $title-white;
}

.fa {
  padding: 1rem;
}

.nav-bar__tabs {
  display: flex;
  justify-content: space-between;
  margin-right: 3rem;
}

.nav-bar__selection {
  color: $title-white;
}
.nav-bar__new-list {
  color: $title-white;
}
