<div class="nav-bottom">
  <ul class="nav-list">
    {{#each model as |todo|}}
      <li class="nav-list__item">
        {{#link-to "list.detail" todo.id}}
        {{todo.title}}
        {{/link-to}}
      </li>
      {{/each}}
  </ul>
    <div class="nav-list__item add-new">
      {{#link-to "list.new"}}
      Add New List
      {{/link-to}}
    </div>
</div>
