<div class="nav-bar">
  <div class="nav-bar__top">
    <i class="fa fa-bars" aria-hidden="true"></i>
    <h3 class="nav-bar__title">Todos</h3>
  </div>

  <ul class="nav-bar__tabs">
    <p class="nav-bar__selection">NEW YEARS RESOLUTION</p>
    <p class="nav-bar__selection">GROCERIES</p>
    <p class="nav-bar__selection">HOMEWORK</p>
    <p class="nav-bar__new-list">ADD NEW LIST</p>
  </ul>
</div>

<div class="app-container">
  <h3>title</h3>
  <ul></ul>
  <input type="text">
  <button>Accept</button>
</div>

{{outlet}}
